/* For mobile device responsive */
@media screen and (max-width:576px) {
 /* header area */
  .main-nav {
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    margin-bottom: 3.5625em;
}
.main-nav h2{
  margin-bottom: 10px;
}
.banner-text h1{
  font-size: 2.5em;
}
.banner img{
  width: 96%;
  margin: 0 auto;
}

/* team Feature */
.team-feature, 
.Features{
  flex-direction: column;
}
.team-image{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
.team-text{
  text-align: center;
  margin: 20px;
}
/* Some Facts */
.team-feature {
  margin-bottom: 50px;
}
.facts-title{
  text-align: center;
  margin-bottom: 50px;
}
.facts{
  flex-direction: column;
}
.fact-container{
  /* width: 96%; */
  margin: 10px auto;
}
/* Our Sponspors */
.Sponspor-icon{
  grid-template-columns:  1fr;
  justify-self: center;
}
.Sponspor-icon img{
  margin-bottom: 24px;
}
/* Features Area*/
.left-dection{
 width: 96%;
 margin: 0 auto;
}
.Features img{
  width: 96%;
  margin: 0 12px;
  z-index: -1;
  position: relative;
}
#exprinece-badge{
  z-index: 5;
}
 #exprinece-badge .experience-text{
  font-size: 1em;
  font-weight: 600;
}
#exprience-year{
  font-size: 2.5em;
  font-weight: 700;
}


/* footer area*/
footer{
   padding:20px;
}
footer p{
  font-size: 12px;
}
}

/* For tablet device responsive */

@media screen and (min-width:576px) and (max-width:992px){
  
   /* header area */
  .main-nav {
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    margin-bottom: 3.5625em;
}
.main-nav h2{
  margin-bottom: 10px;
}
.banner-text h1{
  font-size: 3.5em;
}
.banner img{
  width: 96%;
  margin: 0 auto;
}

/* team Feature */
.team-feature,
.Features{
  flex-direction: column;
}
.team-text,
.facts-title{
  text-align: center;
  margin: 20px;
}
.team-image{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
/* Some Facts */
.facts-title{
  margin: 0 auto;
}
.team-feature {
  margin-bottom: 50px;
}
.facts-title{
  margin-bottom: 50px;
}
.facts{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
/* Our Sponspors */
.Sponspor-icon{
  grid-template-columns: repeat(3, 1fr);
  justify-self: center;
}
.Sponspor-icon img{
  margin-bottom: 24px;
}

footer{
   padding: 39px 20px;
}
/* Features Area*/
.left-dection{
 width: 96%;
 margin: 0 auto;
}
.Features img{
  width: 96%;
  margin: 0 12px;
  z-index: -1;
  position: relative;
}
#exprinece-badge{
  z-index: 5;
}
#exprinece-badge{
  display: block;
  margin: 0 auto;
  margin-top: -75px;
} 
 #exprinece-badge .experience-text{
  font-size: 1em;
  font-weight: 600;
}
#exprience-year{
  font-size: 2.5em;
  font-weight: 700;
}
}


/* For larger then tablet device responsive */
@media screen and (min-width:992px) and (max-width:1440px){
   /* header area */
  .main-nav {
  width: 94%;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 40px;
}
.banner img{
  width: 96%;
  margin: 0 auto;
}

/* team Feature */
.team-feature,
.Features{
  flex-direction: column;
}
.team-text{
  text-align: center;
  margin: 20px;
}
.team-feature {
  margin-bottom: 50px;
}

/* Some Facts */
.facts-title{
  margin-bottom: 50px;
}
/* Our Sponspors */
/* Our Sponspors */
.Sponspor-icon{
  grid-template-columns: repeat(5, 1fr);
  justify-self: center;
}
.Sponspor-icon img{
  margin-bottom: 24px;
}
/* Features Area*/
.left-dection{
 margin: 0 auto;
}
.Features img{
  width: 96%;
}
}
