:root{
  --dark1: #131313;
  --dark2: #424242;
  --dark3: #727272;
  --orgcolor: #FF900E;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Work Sans", sans-serif;
}

/* share style */

.display-flex{
  display: flex;
}

.bg-color{
  background-color: hsla(32, 100%, 53%, 0.1);
}

.btn-primary{
  background: var(--orgcolor);
  color: white;
  padding: 20px 25px;
  font-size: 1.25em;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.btn-primary:hover{
  background: white;
  color: var(--orgcolor);
  border: 2px solid var(--orgcolor);
  font-size: 1.4em;
}


/* header style */
main{
  max-width: 1440px;
  margin: 0 auto;
}


/* nav style */
.main-nav,
.banner{
  max-width: 1440px;
  margin: 0 auto;
}

.main-nav{
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 6.5625em;
}

.main-nav h2{
  font-size:  2.8em;
  font-weight: 700;
  cursor: pointer;
}
.nav-item ul{
  gap: 30px;
}
.nav-item li{
  list-style: none;
}
.nav-item li a{
  text-decoration: none;
  font-size: 1.125em;
  font-weight: 500;
  color: var(--dark2);
}
.nav-item li a:hover{
  color: var(--orgcolor);
}
/* banner style */

.banner{
  text-align: center;
  margin-bottom: 5.3125em;
}

.banner-text{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3.125em;
}
.banner-text h1{
  font-size: 4em;
  font-weight: 700;
  color: var(--dark1);
  margin-bottom: 16px;
}
.banner-text p{
  font-size: 1em;
  color: var(--dark2);
  margin-bottom: 16px;
}
.banner img{
  width: 100%;
  padding-bottom: 2.8em;
  border-radius: 15px;
}

/* main area style */

/* our team Feature style */

.team-feature{
  align-items: center;
  margin-bottom: 130px;
}

.team-image{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.team-text{
  margin-left: 73px;
  max-width: 540px;
}
.team-text h2{
  font-size: 2.8em;
  font-weight: 700;
  margin-bottom: 24px;
}
.team-text .gray-text{
  color: var(--dark3);
  font-weight: 500;
}
.org-text{
  color: var(--orgcolor);
}
.team-text p{
  font-size: 1em;
  color: var(--dark3);
  margin-bottom: 24px;
}

/* Some Facts style */
.some-facts{
  margin-bottom: 180px;
}

.facts-title{
  margin-bottom: 100px;
  max-width: 540px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}
.facts-title h3{
  font-size: 2.8em;
  font-weight: 700;
  margin-bottom: 15px;
  color: var(--dark1);
}
.facts-title p{
  font-size: 1em;
  color: var(--dark3);
  margin-bottom: 24px;
}
.facts{
  justify-content: space-evenly;
}
.fact-container{
  text-align: center;
  padding: 36px 50px;
  border: 2px solid var(--orgcolor);
  border-radius: 10px;
}
.fact-container h3{
  font-size: 2.8em;
  font-weight: 700;
  margin: 10px 0 5px;
  color: var(--dark2);
}
.fact-container p{
  font-size: 1.125em;
  color: var(--dark3);
  font-weight: 600;
}


/* Our Sponspors */
.Sponspors{
  margin-bottom: 130px;
}
.Sponspor-text{
  margin: 0 auto;
  text-align: center;
}
.Sponspor-text h3{
  font-size: 2.8em;
  font-weight: 700;
  color: var(--dark1);
  margin-bottom: 24px;
}
.Sponspor-text p{
  font-size: 1em;
  color: var(--dark3);
  margin-bottom: 40px;
}

.Sponspor-icon{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;

}
.Sponspor-icon img{
  filter: grayscale(100%);
}

/* Features you will love & enjoy */
.Features{
  justify-content: space-between;
  align-items: center;
  margin-bottom: 130px;
}
.Features h3{
  font-size: 2.8em;
  font-weight: 700;
  color: var(--dark1);
  margin-bottom: 24px;
  border-left: 5px solid var(--orgcolor);
  padding-left: 20px;

}
.Features p{
  font-size: 1em;
  color: var(--dark3);
  margin-bottom: 30px;
}
.left-dection{
  max-width: 570px;
}
.card{
  padding: 30px 36px;
  border-radius: 15px;
  box-shadow: 0 0 15px hsla(0, 0%, 7%, 0.15);
  margin-bottom: 20px;
}
.card h5{
  font-size: 1.125em;
  font-weight: 600;
  color: var(--dark1);
  margin-bottom: 10px;
}
.card p{
  font-size: 1em;
  color: var(--dark3);
  margin-bottom: 30px;
}

#exprinece-badge{
  background-color: var(--orgcolor);
  color: white;
  padding: 45px 42px;
  border-radius: 10px;
  border: none;
  margin-left: -100px;
  margin-top: -100px;
} 
 #exprinece-badge .experience-text{
  font-size: 1.5em;
  font-weight: 600;
}
#exprience-year{
  font-size: 4em;
  font-weight: 700;
}

/* footer area style */
footer{
  background-color: #FFF4E7;
  padding: 39px 410px;
}
footer p{
  text-align: center;
  color: var(--dark2);
}
